<div class="container px-5 px-sm-0">
  <% if @book.errors.any? %>
      <h3 class="error"><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li class="error error_messages"><%= message %></li>
      <% end %>
      </ul>
      <% end %>
  <div class="row">
    <div class="col-md-3">
          <h2>User info</h2>
          <%= render partial: 'layouts/user', locals: {user: current_user, id: current_user.id }  %>
          <h2 class="mt-3">New book</h2>
          <%= render partial: 'layouts/postbook', locals: {book: @book, bname: 'Create Book'}  %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
          <tr>
          <td>
            <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no-image-icon.jpg", class:"attachment user profile_image fallback" %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= link_to"Show", user_path(user.id), class:"user_#{user.id}" %>
          </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>