<div class="container px-5 px-sm-0">
  <% if @book.errors.any? %>
    <h3 class="error"><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
     <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li class="error error_messages"><%= message %></li>
    <% end %>
    </ul>
  <% end %>
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
        <%= render partial: 'layouts/user', locals: {user: current_user, id: current_user.id  }  %>
      <h2 class="mt-3">New book</h2>
        <%= render partial: 'layouts/postbook', locals: {book: @book, bname: 'Create Book'}  %>

    </div>
    <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user_id) do %>
                <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no-image-icon.jpg" %>
                <% end %>
              </td>
              <td>
                <%=link_to book.title, book_path(book.id), class:"book_#{book.id}" %>
              </td>
              <td>
                <%= book.body %>
              </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>