<div class="container">
  <% if @book.errors.any? %>
    <h3 class="error"><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
    <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li class="error error_messages"><%= message %></li>
    <% end %>
    </ul>
  <% end %>
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
        <% if @book.user.id == current_user.id %>
          <%= render partial: 'layouts/user', locals: {user: current_user, id: current_user.id }  %>
        <% else %>
          <%= render partial: 'layouts/user', locals: {user: @book.user, id: @book.user_id }  %>
        <% end %>
        <h2 class="">New book</h2>
          <%= render partial: 'layouts/postbook', locals: {book: @booka, bname: 'Create Book'}  %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <% if @book.user.id == current_user.id %>
            <td>
              <%= link_to user_path(current_user.id) do %>
              <%= attachment_image_tag current_user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no-image-icon.jpg" , class:"attachment user profile_image fallback" %><br>
              <%= current_user.name %>
              <% end %>
            </td>

            <td>
              <%= link_to @book.title %>
            </td>

            <td>
              <%= @book.body %>
            </td>

            <td>
			        <%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success edit_book_#{@book.id}" %>
		        </td>

		        <td>
		          <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか?", class:"btn btn-sm btn-danger destroy_book_#{@book.id}" %>
		        </td>
		        <% else %>
		        <td>
		          <%= link_to  user_path(@book.user.id) do %>
              <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no-image-icon.jpg", class: "attachment user profile_image fallback" %><br>
              <%= link_to @book.user.name, user_path(@book.user.id) %>
              <% end %>
            </td>

            <td>
              <%= link_to @book.title %>
            </td>

            <td>
              <%= @book.body %>
            </td>

            <td></td>
            <td></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>